.input:focus {
    border-color: #212A34;
}

.input {
    outline: none;
    width: 372px;
    height: 36px;
    border: 1px solid #D1D1D1;
    border-radius: 3px;
    font-size: 18px;
    padding: 2px 6px;
}

.inputWrapper {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 30px;
}

.superInput {
    color: rgba(138, 43, 226, 0.82);
}

.errorInput {
    border: 1px solid red;

}

.errorInput:focus {
    border: 1px solid red;
}

.error {
    color: red;

}
