.App {
    --header_height: 60px;
    box-sizing: border-box;
    width: 1280px;
    margin: 0 auto;
    /*//центр убрал*/
}

#hw1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hw {
    border-top: #D9D9D9 1px solid;
    border-bottom: #D9D9D9 1px solid;
    min-width: 100%;
    min-height: 446px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.hwTitle {
    font-family: Montserrat sans-serif;
    color: #000;
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    margin: 37px 0 30px 10px;
}

